.number {
    font-size: 0.7em;
    padding-right: 5.5px;
    color: gray;
}

a {
    color: #137999;
    text-decoration: none;
}

header {
    padding-top: 50px;
}

nav {
    margin-bottom: 1rem;
    text-align: right;
}
