.number {
    font-size: 0.7em;
    padding-right: 5.5px;
    color: gray;
}

a {
    color: #137999;
    text-decoration: none;
}

h1 a {
    font-size: 0.5em;
}

footer {
    text-align: right;
}

footer a {
    font-weight: bold;
}
